body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
}

.centered {
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.h_centered {
    justify-content: center;
}

.v_centered {
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

#header {
    box-shadow: none;
    padding: 10px 0 10px 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    background: url('../../static/drawable/header_background.png') no-repeat;
    background-size: 100%;
    transition: top 0.25s;
}

#header_content {
    width: 1200px;
    height: 40px;
    align-content: start;
    text-align: left;
    justify-content: left;
    align-items: start;
    margin: 0 0 10px 0;
}

#logo {
    height: 36px;
    margin: 4px;
    width: auto;
    border-radius: 10px;
}

#header_query {
    display: inline-flex;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 1140px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFF;
}

#query_submit {
    position: relative;
    width: 41px;
    height: 41px;
    bottom: 12px;
    left: 8px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FF4444;
    border: 2px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

#query_submit:hover {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #FF4444;
}

#query {
    position: relative;
    padding: 0;
    width: 1090px;
    height: 40px;
    left: 10px;
    font-size: 16px;
    border: none;
}

#query:focus {
    outline: none;
}

#button_login, #button_logout, #button_profile, .button_vacancy_add, .button_my_vacancies {
    display: inline-flex;
    position:relative;
    width: 100px;
    height: 60px;
    bottom: 18px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FF4444;
    border-radius: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}

#button_login {
    left: 658px;
    bottom: 15px;
}

#button_logout {
    left: 300px;
}

#button_profile {
    text-align: right;
    justify-content: right;
    overflow: hidden;
    width: 200px;
    left: 300px;
}

.button_vacancy_add {
    box-shadow: inset 0 0 2px rgba(50, 50, 50, 0.75);
    left: 100px;
    width: 150px;
    height: 40px;
    background-color: #FF0000;
    border: 1px #000;
}

.button_my_vacancies {
    box-shadow: inset 0 0 2px rgba(50, 50, 50, 0.75);
    left: 120px;
    width: 150px;
    height: 40px;
    background-color: #FF0000;
    border: 1px #000;
}

#button_login:hover, #button_logout:hover {
    background-color: #FF0000;
}

.button_vacancy_add:hover, .button_my_vacancies:hover {
    background-color: #DD0000;
}

#con, #content {
    display: flex;
    position: relative;
}

#content {
    top: 110px;
    width: 750px;
}

#content_title {
    position: relative;
    top: 20px;
    width: 100%;
    align-content: start;
    text-align: left;
    justify-content: left;
    align-items: start;
    font-size: 24px;
    font-weight: bold;
}

#content_element_link {
    text-decoration: none;
}

#content_element {
    position: relative;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    width: 100%;
    align-content: start;
    text-align: left;
    justify-content: left;
    align-items: start;
}

#content_text {
    width: 75%;
}

.content_company_background {
    height: content-box;
    max-height: 100px;
    width: 750px;
    top: 5px;
    right: 5px;
    border-radius: 10px 10px 0 0;
}

.content_company_null {
    background-color: #FFF;
    height: 10px;
    width: 750px;
    top: 5px;
    right: 5px;
    border-radius: 10px 10px 0 0;
}

#content_company_logo {
    position: absolute;
    height: content-box;
    width: content-box;
    max-height: 150px;
    max-width: 150px;
    top: 5px;
    right: 5px;
    border-radius: 10px;
}

.content_retreat {
    margin: 0;
    padding: 0;
    height: 20px;
}

#content_element_title, #content_element_salary, #content_element_company, #content_element_description {
    padding: 5px;
    margin: 0 0 0 10px;
    height: content-box;
    font-weight: normal;
}

#content_element_title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

#content_element_salary {
    color: #555;
    font-size: 16px;
}

#content_element_company, #content_element_description {
    color: #000;
    font-size: 20px;
}

#content_element_description {
    margin: 5px 0 0 10px;
    min-height: 23px;
    height: content-box;
    padding: 0 0 0 5px;
    width: 606px;
    white-space: pre-wrap;
}

#input_group {
    position: relative;
    left: 10%;
}

#input_title {
    font-size: 32px;
    font-weight: bold;
}

.label {
    position: relative;
    font-size: 16px;
    font-weight: normal;
}

.vacancy_input, .vacancy_input_salary, .vacancy_input_description, .vacancy_input_currency {
    width: 80%;
    padding: 12px 20px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow:auto;
    font-size: 16px;
    font-weight: normal;
    font-family: normal, serif;
}

.vacancy_input_salary {
    width: 245px;
}

.vacancy_input_currency {
    padding: 12px 20px;
    width: 102px;
}

.vacancy_input_description {
    font-family: normal, serif;
    resize: none;
    overflow-y:hidden;
    font-size: 16px;
}

.profile_information_title {
    font-size: 20px;
    font-weight: normal;
}

.profile_information_element {
    display: inline-flex;
    position: relative;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

.profile_information_element_title{
    text-align: right;
    justify-content: right;
    width: 30%;
}

.profile_information_element_content{
    margin-left: 10px;
    text-align: left;
    justify-content: left;
    width: 70%;
}

.profile_information_input {
    width: 300px;
}

#submit_vacancy {
    width: 80%;
    background-color: #FFF;
    color: #000;
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow:auto;
    font-size: 24px;
    font-weight: bold;
    font-family: normal, serif;
}

#submit_vacancy:hover {
    background-color: #FF4444;
    color: #FFF;
}

#footer {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px 0 10px 0;
    height: 125px;
    background: url('../../static/drawable/header_background.png') no-repeat;
    background-size: 100%;
}

#footer_content {
    display: flex;
    width: 1200px;
    height: 80px;
    margin: 0;
}

#footer_contacts, #footer_author {
    display: flex;
    position: relative;
    margin: 0 100px 0 0;
    font-size: 28px;
    height: 80px;
    top: 15%;
    font-weight: bold;
    color: #FFF;
    text-align: left;
    justify-content: left;
}

#footer_author {
    margin: 0;
}

#footer_contacts_details, #footer_author_details {
    position: relative;
    left: 20px;
    bottom: 30%;
    font-size: 20px;
    height: 20px;
    color: #FFF;
}

#Cherkasy {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: #FFF;
}

#page_buttons, #endless_page {
    display: inline-flex;
    width: 750px;
    height: 30px;
}

.page_button, #current_page_button {
    color: #FF4444;
    font-weight: bold;
    width: 30px;
    height: 30px;
    font-size: 24px;
    border-radius: 10px;
}

.page_button:hover {
    color: #FFF;
    background-color: #FF4444;
}

#current_page_button {
    font-weight: normal;
}

#endless_page_button {
    position: relative;
    color: #FF4444;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
}

#endless_page_button:hover {
    color: #FFF;
    background-color: #FF4444;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    width: 565px;
    height: 50px;
    color: #000;
    background-color: #ff4444;
    font-size: 24px;
    font-weight: bold;
}

#author_details {
    position: relative;
    background-color: #FFF;
    width: 720px;
    height: content-box;
    border-radius: 10px;
    padding: 0 15px 15px 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#contacts_details {
    height: content-box;
}

#delete_field {
    display: flex;
    position: relative;
    width: 750px;
    text-align: right;
    justify-content: right;
}

#delete_link {
    display: flex;
    position: relative;
    color: #000;
    background-color: #FF4444;
    height: 40px;
    width: 150px;
    font-size: 32px;
    border-radius: 10px;
}

#profile_form_buttons {
    display: inline-flex;
    width: 100%;
}

.profile_form_buttons {
    position: relative;
    margin-left: 10px;
    color: #000;
    background-color: #FFF;
    height: 40px;
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 10px;
}

.profile_form_buttons:hover {
    color: #FFF;
    background-color: #FF4444;
}

#vacancy_status {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    justify-content: left;
}

#add_phone, #delete_phone {
    position: relative;
    color: #000;
    background-color: #FFF;
    height: 40px;
    width: 40px;
    border: 1px solid #CCC;
    font-size: 20px;
    border-radius: 10px;
}

#add_phone:hover, #delete_phone:hover {
    color: #FFF;
    background-color: #FF4444;
}