#header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 150px;
    background: none;
}

#logo {
    height: 50px;
    width: auto;
}

#content {
    display: flex;
    position: fixed;
    top: 150px;
    width: 100%;
    height: content-box;
}

#content_form {
    box-shadow: inset 0 0 3px rgba(50, 50, 50, 0.75);
    height: content-box;
    background-color: #FFF;
    border-radius: 10px;
}

p {
    margin: 20px;
    padding: 0;
    display: flex;
    height: 50px;
    left: 50px;
    right: 50px;
    border-radius: 5px;
}

#p1 {
    height: 75px;
}

#p2, #p3 {
    border: 1px solid black;
}

input {
    width: 500px;
    font-size: 16px;
    border: none;
}

input:focus {
    outline: none;
}

#p5 {
    font-size: 20px;
    height: 25px;
}

#login, #register {
    border: 1px solid black;
    border-radius: 5px;
    width: 565px;
    height: 50px;
    color: #000;
    background-color: #ff4444;
    font-size: 24px;
    font-family:'Cambria', sans-serif; font-weight: bold;
}