<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css?<?php echo time(); ?>" >
    <link rel="stylesheet" type="text/css" href="../static/css/login.css?<?php echo time(); ?>" >
</head>
<body>
<div class="centered" id="header">
    <a href="../">
        <img id="logo" src="../static/drawable/logo.png" alt="logo" loading="lazy" width="176" height="30">
    </a>
</div>
<div class="centered" id="content">
    <div class="centered" id="content_form">
        <form id="form_login" class="centered" method="post">
            {% csrf_token %}
            <p class="centered" id="p1" style="font-size: 40px; font-family:'Cambria', sans-serif; font-weight: bold;">Login</p>
            <p class="h_centered" id="p2" style="font-size: 32px; font-family:'Cambria', sans-serif; font-weight: bold;">
                <input type="text" id="username" name="username" maxlength="16" placeholder="Username" required>
            </p>
            <p class="h_centered" id="p3" style="font-size: 32px; font-family:'Cambria', sans-serif; font-weight: bold;">
                <input type="text" id="password" name="password" maxlength="32" placeholder="Password" required>
            </p>
            {% if msg > "" %}
            <p class="h_centered" style="height: 10px; font-size: 14px; font-family:'Cambria', sans-serif; font-weight: bold; color: #ff0000">
                {{ msg }}
            </p>
            {% endif %}
            <p class="centered" id="p4">
            <button id="login" type="submit">Login</button>
            </p>
            <p class="centered" id="p5">or</p>
            <p class="centered" id="p6">
            <button id="register" onclick="location.href='../register'" class="button">Register</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>