<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancy</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/default.css?<?php echo time(); ?>" >
</head>
<body>
<div class="h_centered" id="con">
    <div id="content">
        <div id="content_title">
            <div class="content_retreat"></div>
            {% if vacancy.background_link != NULL %}
            <div class="content_company_background">
                <img class="content_company_background" src="{{ vacancy.background_link }}" loading="lazy"
                     onerror="this.style.display='none'">
            </div>
            {% endif %}
            {% if vacancy.background_link == NULL %}
            <div class="content_company_null">
            </div>
            {% endif %}
            {% if vacancy.background_link == "" %}
            <div class="content_company_null">
            </div>
            {% endif %}
            <div class="h_centered" id="content_element">
                <div id="content_text">
                    <p id="content_element_title">
                        {{ vacancy.title }}
                    </p>
                    <p id="content_element_salary">
                        {{ vacancy.salary_min }} — {{ vacancy.salary_max }} {{ vacancy.currency }}
                    </p>
                    <p id="content_element_company">
                        {{ vacancy.company }}&emsp;{{ vacancy.city }}
                    </p>
                    <hr style="width: 749px">
                    {% for description_line in description_lines %}
                        <p id="content_element_description">{{ description_line }}</p>
                    {% endfor %}
                </div>
                {% if vacancy.logo_link != NULL %}
                <div>
                    <img id="content_company_logo" src="{{ vacancy.logo_link }}" loading="lazy"
                         onerror="this.style.display='none'">
                </div>
                {% endif %}
                <hr style="width: 749px">
                {% if author.is_active == True %}
                <div id="author_details" class="centered">
                    {% if author.first_name != "" %}
                    {{ author.last_name }} {{ author.first_name }}
                    <div class="content_retreat"></div>
                    {% endif %}
                    <div id="contacts_details">
                        {% for phone in phones %}
                            <a href="tel:{{ phone }}">+{{ phone }}</a> <br>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if author.id == current_user.id %}
            <div id="delete_field">
                <a href="../../profile/{{ current_user.id }}/delete/?id={{ vacancy.id }}">
                    <div id="delete_link" class="centered">
                        DELETE
                    </div>
                </a>
            </div>
            {% endif %}
            <div class="content_retreat"></div>
            <div class="content_retreat"></div>
            <div class="content_retreat"></div>
            <div class="content_retreat"></div>
            <div class="content_retreat"></div>
        </div>
    </div>
</div>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onload = function() {
        document.getElementById("header").style.top = "0px";
        scroll(0,0);
        document.getElementById("query").value = "{{ query }}";

        var htmlScrollHeight = document.documentElement.scrollHeight;
        var newScrollHeight = htmlScrollHeight-5;
        var new_height = "height:" + newScrollHeight + "px";
        document.getElementById('con').setAttribute("style",new_height);
    }
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("header").style.top = "0px";
        } else {
            document.getElementById("header").style.top = "-115px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
<div id="header" class="h_centered">
    <div id="header_c">
        <div id="header_content" class="centered">
            <a class="a" href="../../">
                <img id="logo" src="../../static/drawable/logo_white.png" alt="logo" loading="lazy">
            </a>
            {% if user.is_authenticated %}
            <a class="a" href="../../vacancies/add">
                <div class="button_vacancy_add">
                    Add vacancy
                </div>
            </a>
            <a class="a" href="../../profile/{{ user.id }}/vacancies">
                <div class="button_my_vacancies">
                    My vacancies
                </div>
            </a>
            <div id="button_profile">
                <a class="a" href="../../profile/{{ user.id }}" style="color: #FFF;">
                    {{ user.username }}
                </a>
            </div>
            <a class="a" href="../../logout">
                <div id="button_logout">
                    Logout
                </div>
            </a>{% else %}
            <a class="a" href="../../vacancies/add">
                <div class="button_vacancy_add">
                    Add vacancy
                </div>
            </a>
            <a class="a" href="../../login">
                <div id="button_login">
                    <svg style="width:20px;" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M19.1668 0.0194092H8.33566C7.87552 0.0194092 7.5025 0.40797 7.5025
                           0.887285V3.05697C7.5025 3.53629 7.87552 3.92485 8.33566 3.92485C8.7958 3.92485 9.16882
                           3.53629 9.16882 3.05697V2.1891C9.16882 1.94944 9.35533 1.75516 9.5854 1.75516H17.917C18.1471
                           1.75516 18.3336 1.94944 18.3336 2.1891V17.8109C18.3336 18.0505 18.1471 18.2448 17.917
                           18.2448H9.5854C9.35533 18.2448 9.16882 18.0505 9.16882 17.8109V16.943C9.16882 16.4637 8.7958
                           16.0751 8.33566 16.0751C7.87552 16.0751 7.5025 16.4637 7.5025 16.943V19.1127C7.5025 19.592
                           7.87552 19.9805 8.33566 19.9805H19.1668C19.6269 19.9805 19.9999 19.592 19.9999
                           19.1127V0.887285C19.9999 0.40797 19.6269 0.0194092 19.1668 0.0194092Z" fill="currentColor">
                        </path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2461 11.7357H9.71203C8.90047
                           14.1268 6.55324 15.5611 4.15363 15.1322C1.75402 14.7034 0 12.5361 0 9.99998C0 7.46386
                           1.75402 5.29658 4.15363 4.86772C6.55324 4.43885 8.90047 5.87315 9.71203
                           8.26423H15.8341C15.9448 8.26425 16.0509 8.31015 16.129 8.3918L17.3788 9.69362C17.5414
                           9.86307 17.5414 10.1378 17.3788 10.3072L16.129 11.609C16.0508 11.6904 15.9447 11.7359
                           15.8341 11.7357H14.7568L14.0461 12.4769C13.968 12.5585 13.8619 12.6044 13.7512
                           12.6044C13.6405 12.6044 13.5344 12.5585 13.4563 12.4769L12.7456 11.7357H12.2573L11.5467
                           12.4769C11.4681 12.5578 11.3622 12.6033 11.2517 12.6036C11.1412 12.6038 11.0351 12.5582
                           10.9568 12.4769L10.2461 11.7357ZM3.3366 11.3015C4.02681 11.3015 4.58634 10.7187 4.58634
                           9.99973C4.58634 9.28075 4.02681 8.69791 3.3366 8.69791C2.64639 8.69791 2.08686 9.28075
                           2.08686 9.99973C2.08686 10.7187 2.64639 11.3015 3.3366 11.3015Z" fill="currentColor"></path>
                    </svg>
                    &nbsp;Login
                </div>
            </a>
            {% endif %}
        </div>
        <div>
            <form id="form_query" class="centered" method="post">
                {% csrf_token %}
                <p id="header_query">
                    <img src="../../static/drawable/search-icon.svg" alt="search" loading="lazy"
                         style="position: relative; left: 6px; width: 20px;">
                    <input type="text" name="query" id="query" maxlength="100" placeholder="Search by vacancy title">
                </p>
                <button id="query_submit" type="submit" name="query_submit">
                    <svg style="width:20px; top:2px;" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 8.42511C1 4.32433 4.32433 1 8.42511
                           1C12.5259 1 15.8502 4.32433 15.8502 8.42511C15.8502 12.5259 12.5259 15.8502 8.42511
                           15.8502C4.32433 15.8502 1 12.5259 1 8.42511ZM8.42511 2.8C5.31845 2.8 2.8 5.31845 2.8 8.42511C2.8
                           11.5318 5.31845 14.0502 8.42511 14.0502C11.5318 14.0502 14.0502 11.5318 14.0502 8.42511C14.0502
                           5.31845 11.5318 2.8 8.42511 2.8Z" fill="currentColor"></path>
                        <path fill-rule="evenodd"clip-rule="evenodd" d="M12.4004 12.4022C12.7519 12.0507 13.3217
                           12.0508 13.6732 12.4023L18.7338 17.4637C19.0853 17.8152 19.0853 18.385 18.7338 18.7365C18.3823
                           19.0879 17.8124 19.0879 17.461 18.7364L12.4003 13.675C12.0488 13.3235 12.0489 12.7536 12.4004
                           12.4022Z" fill="currentColor"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div id="footer" class="h_centered">
    <div id="footer_c">
        <div id="footer_content" class="centered">
            <div id="footer_contacts">
                Contacts:
                <div id="footer_contacts_details">
                    E-mail: v.m.zaiets.fitis20@chdtu.edu.ua<br>
                    Phone: +38 (099) 613-66-18<br>
                    Viber: +38 (099) 613-66-18<br>
                    Telegram: @prince_jonah
                </div>
            </div>
            <div id="footer_author">
                Author:
                <div id="footer_author_details">
                    Student: Zaiets Volodymyr<br>
                    Group: KN-2001<br>
                    Specialty: Computer Science<br>
                    University: CHDTU
                </div>
            </div>
        </div>
        <hr>
        <div id="Cherkasy" class="centered">
            Cherkasy 2022
        </div>
    </div>
</div>
</body>
</html>